/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */



@font-face {
  font-family: mont;
  src: url(../fonts/sans-serif/montserrat-regular.ttf)
}


@font-face {
  font-family: robot;
  src: url(../fonts/sans-serif/roboto-regular.ttf)
}

@font-face {
  font-family: jose;
  src: url(../fonts/serif/josefinslab-regular.ttf)
}

@font-face {
  font-family: ultra;
  src: url(../fonts/serif/ultra-regular.ttf)
}



html * {
  font-size: 1em;
}




header {
  padding: 0rem 0rem 9rem 12rem;
}


h1 {
  font-size: 2.5rem;
  font-family: robot, sans-serif;
  transform: rotate(-4deg);
  position: absolute;
  text-shadow: 1px 1px 1px black;
  letter-spacing: .2rem;
  white-space:nowrap;

}

h1 span {
  font-family: ultra, serif;
  background-color: #690d1f;
  color: #faf1d7;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 1rem .2rem 1rem .2rem;
  box-shadow: 3px 2px 3px black;
  text-align: center;
  text-transform: uppercase;
}


/* NAV BAR STYLE */

nav {
  font-size: 1.5rem;
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 3rem;
}


nav a:any-link {
  text-decoration: none;
  color: black;
}

nav a:hover {
  transform: rotate(-7deg);
  text-transform: uppercase; 
}

nav a:focus {
  text-transform: uppercase;
  text-decoration: underline;
}


nav a {
  font-family: robot, sans-serif;
  margin: 1rem 2rem;
}



main {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}


h2, h3 {
  font-family: robot;
}

h2 {
  margin-left: 2rem;
  font-size: 1.3rem;
  margin-bottom: 0;
  padding: 0;
}

p, figcaption {
  font-family: mont, sans-serif;
}


/* ARTICLE STYLE */

article > figure {
 margin-top: 0;
 margin-left: 0;
 margin-right: 16px;
 margin-bottom: 10px;
}

.article-image {
  float: left;
}




/* IMG BAR STYLE */

.subsection {
  display: flex;
}

.subsection > * {
  margin: .25rem;
}

.subsection img {
  width: 100%;
}

.subsection figure {
   background-color: #faf1d7;
}






/* BUTTON STYLE */

button {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-family: ultra, serif;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #faf1d7;
  background-color: #4671b8;
  border-radius: .5rem;
  padding: .5rem .5rem .5rem .5rem;
}

button:active {
  color: #4671b8;
  background-color: #faf1d7;
}




/* SIDE BAR STYLE */

aside {
  border-left: 1px solid;
  padding-left: 20px;
  margin-left: 16px;
}

aside img {
  width: 15rem;
}

aside p {
  font-size: .8rem;
  width: 15rem;
  padding-bottom: 16px;
  border-bottom: 1px solid;
}

aside a {
  font-size: .5rem;
}

aside a:any-link {
  text-decoration: none;
}

footer {
  font-size: .9rem;
  display:flex;
}

footer a {
  font-family: jose, serif;
}

footer a:any-link {
  color:grey;
  text-decoration: none;
}


footer div {
  width: 20rem;
  flex-shrink: 1;
  min-width: 2rem;
}

footer div+p {
  text-align: right;
}



